# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Hugging Face Cache (just in case someone moves it locally)
.cache/
